.card{
    margin-top: 26px;
}
.h1-titulo{
    text-align: center;
    color:blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.div-img-commit{

    background-color: black;

    text-align: center;

}
.img-commit{

    border-radius: 15%;
}